.form__search-filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__search {
    flex-grow: 1;
}

mat-form-field {
    width: 100%;
}

.form__filters {
    margin-left: 20px;
}